<section class="hero" id="careers">
    <div class="hero-body">
        <div class="container mb-5">
            <h1 class="is-size-2 mb-2 has-text-weight-bold">Careers</h1>
            <p class="is-size-6 ">
                Are you ready to join a team that is redefining the limits of science and technology? At QANT Labs,
                we’re always looking for creative, driven minds to contribute to our groundbreaking research. Explore
                our career opportunities and discover how you can be a part of our visionary community. </p>
        </div>
    </div>
</section>
