<section class="hero has-background-white-ter" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-2 mb-2">Contact Us</h1>
            <p class="is-size-5 ">
                We welcome collaborations, inquiries, and discussions. <br>
                Reach out to us:
            </p>
            <li>
                Email: [info@qantlabs.com](mailto:info@qantlabs.com)
            </li>
            <li>
                Address: [Insert physical address here]
            </li>
            <li>
                Social Media: [Insert links to social profiles]
            </li>
            <!-- <p class="is-size-6 ">
                Join us on our journey as we innovate, secure, and empower the future through quantum breakthroughs,
                intelligent systems, and privacy-first technology.
            </p> -->
           
        </div>
    </div>
</section>