<section class="hero has-background-white-ter" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-2 mb-4 has-text-weight-bold">Contact Us</h1>
            <p class="is-size-5 mb-5 has-text-grey-dark">
                We welcome collaborations, inquiries, and discussions. Feel free to reach out!
            </p>

            <div class="contact-grid">
                <div class="contact-card">
                    <span class="contact-icon">📧</span>
                    <p class="contact-text">
                        <strong>Email:</strong>
                        <a href="mailto:team@qantlabs.com.au">team@qantlabs.com.au</a>
                    </p>
                </div>

                <div class="contact-card">
                    <span class="contact-icon">📍</span>
                    <p class="contact-text">
                        <strong>Address:</strong>
                        <span>Unit 302/391 Wickham Tce, Spring Hill QLD 4000</span><br>
                        <span><a href="https://abr.business.gov.au/ABN/View?id=94684545417">ABN 94 684 545 417</a></span>

                    </p>
                </div>

                <div class="contact-card">
                    <span class="contact-icon">🌐</span>
                    <p class="contact-text">
                        <strong>Social Media:</strong>
                        <a href="https://x.com/QantLabsAU" target="_blank" class="mx-2">
                            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/x.svg" width="20" alt="Twitter">
                        </a>
                        <a href="http://linkedin.com/company/qant-labs" target="_blank" class="mr-2 ml-1">
                            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" width="20" alt="LinkedIn">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>