<section class="hero has-background-white-ter" id="pubAndNews">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-size-2 mb-2">Publications & News</h1>
            <p class="is-size-6 ">
                Stay updated on our latest breakthroughs, research publications, and collaborative projects. QANT Labs regularly shares insights in leading scientific journals and at international conferences, keeping you informed about how we’re shaping the future of technology.  
            </p>
        </div>
    </div>
</section>