<section class="hero" id="research">
    <div class="hero-body">
        <div class="container mb-5">
            <h1 class="is-size-2 mb-2">Research</h1>
            
            <div class="columns is-multiline">
                <!-- First pair -->
                <div class="column is-5-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Quantum Computing</p>
                            <div class="content">
                                Advancing quantum algorithms, secure communications, and hardware to push the limits.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="column is-5-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Quantum AI and Networking</p>
                            <div class="content">
                                Merging quantum computing, AI, and networking for next-gen information processing.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-5-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Artificial Intelligence</p>
                            <div class="content">
                                Developing AI-driven systems for adaptive learning, automation, and predictive modeling.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="column is-5-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Security</p>
                            <div class="content">
                                Innovating encryption, secure protocols, and threat detection for resilient cybersecurity.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-5-desktop is-12-mobile">
                    <div class="card">
                        <div class="card-content">
                            <p class="title is-4">Privacy</p>
                            <div class="content">
                                Pioneering privacy-first solutions through quantum, AI, and security research.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>