<section class="hero has-background-white-ter py-6" id="research">
    <div class="hero-body">
        <div class="container mb-5">
            <h1 class="is-size-2 mb-2 has-text-weight-bold">Research</h1>
            
            <div class="columns is-1">
                <!-- First pair -->
                <div class="column">
                    <div class="card">
                        <div class="card-icon">
                            🔬
                        </div>
                        <div class="card-content">
                            <p class="has-text-weight-bold is-size-5"># Quantum Computing</p>
                            <div class="content">
                                Developing quantum algorithms, secure communication methods, and hardware, with a focus on integrating AI and networking for more efficient information processing.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <div class="card-icon">
                            🔏
                        </div>
                        <div class="card-content">
                            <p class="has-text-weight-bold is-size-5"># Privacy</p>
                            <div class="content">
                                Advancing privacy-first solutions by combining quantum computing, AI, and security research, with a focus on developing robust frameworks for secure and ethical data protection.                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-1">
                <div class="column">
                    <div class="card">
                        <div class="card-icon">
                            🤖
                        </div>
                        <div class="card-content">
                            <p class="has-text-weight-bold is-size-5"># Artificial Intelligence</p>
                            <div class="content">
                                Building AI-driven systems that enhance adaptive learning, streamline automation, and improve predictive modeling, enabling smarter and more efficient decision-making across various domains.
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="column">
                    <div class="card">
                        <div class="card-icon">
                            🔑
                        </div>
                        <div class="card-content">
                            <p class="has-text-weight-bold is-size-5"># Security</p>
                            <div class="content">
                                Developing advanced encryption methods, secure communication protocols, and intelligent threat detection systems to strengthen cybersecurity and protect against evolving digital threats.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</section>