<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <h3 class="has-text-white-bis py-4">Welcome to</h3>
      <h1 class="title has-text-white is-size-1 has-text-weight-bold" style="font-size: 70px!important;">
        {{site.title}}
      </h1>
      <!-- <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3> -->
      <div class="hero-description"><p class="is-size-4 px-5-desktop has-text-white-bis has-text-weight-medium is-marginless">
        At QANT Labs, we transform quantum science, AI, cybersecurity, and privacy research into practical, secure solutions for the future.
      </br></div>
      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="py-2 button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Explore More</a>
      </a>
    </div>
  </div>
</section>